DJANGO_DEBUG=True
DJANGO_SECRET_KEY=change-me
DATABASE_URL=postgres://phc:phc@db:5432/phc
ALLOWED_HOSTS=localhost,127.0.0.1,phc.alshifalab.pk
CSRF_TRUSTED_ORIGINS=https://phc.alshifalab.pk,http://localhost:8000
DJANGO_PORT=8018
