# Python
__pycache__/
*.py[cod]
.venv/
.env
.env.*
!.env.example
venv/
/venv/
venv
/venv
venv/lib/python3.12/site-packages/
# Django
db.sqlite3
media/
staticfiles/

# OS/editor
.DS_Store
.vscode/
.idea/

# Test/cache
.pytest_cache/
.coverage
htmlcov/

# Node / Playwright
node_modules/
playwright-report/
test-results/
